<!DOCTYPE HTML>
<html>
	<head>
		<title>About SatellitePi</title>
		<link rel="stylesheet" href="styles.css">
		<meta charset="utf-8">
		<meta name="keywords" content="satellitepi, noaa, images">
		<meta name="author" content="Maciej Bajer">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/styles.css">
		<link rel="icon" type="image/x-icon" href="/satellite.png">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			
			<div class="header">
				<a href="/about" class="selected">About the project</a>
				<img src="/satellite.png" alt="satellite icon">
				<a href="/">SatellitePi</a>
			</div>

			<div class="content">
                <p>SatellitePi is my side project that I've made for the purposes of automating the reception of data from weather satellites. It uses a simple dipole antenna, RTL-SDR v4 and a Raspberry Pi 3B+.</p>
			</div>

			<div class="footer">
				SatellitePi project &copy; 2024 <br/>
				Made by Maciej Bajer <br/>
				<a href="https://www.flaticon.com/free-icons/satellite" title="satellite icons">Satellite icons created by Freepik - Flaticon</a>
			</div>
		
		</div>
	
	</body>
</html>
