<!DOCTYPE HTML>
<html>
	<head>
		<title>Satellitepi recent images</title>
		<link rel="stylesheet" href="styles.css">
		<meta charset="utf-8">
		<meta name="keywords" content="satellitepi, noaa, images">
		<meta name="author" content="Maciej Bajer">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/styles.css">
	</head>
	<body>
		<div class="container">
			
			<div class="enlarged-photo">
				<img src="" alt="enlarged photo" class="enlarged-img">
			</div>
		
			<h1>Recent images from Satellitepi</h1>
			
			<div class="images">
				
				<div class="img">
					<div class="satellite-name">NOAA 15</div>
					<img src="img/NOAA_15_2024_11_30_18:37.png" alt="noaa 15" class="satellite-img">
					<div class="satellite-date">2024/11/30 18:37</div>
				</div>
				
				<div class="img">
					<div class="satellite-name">NOAA 18</div>
					<img src="img/NOAA_18_2024_11_30_11:52.png" alt="noaa 18" class="satellite-img">
					<div class="satellite-date">2024/11/30 11:52</div>
				</div>
				
				<div class="img">
					<div class="satellite-name">NOAA 15</div>
					<img src="img/NOAA_15_2024_11_29_19:05.png" alt="noaa 15" class="satellite-img">
					<div class="satellite-date">2024/11/29 19:05</div>
				</div>
				
			</div>
			
			<button class="more-btn">More images</button>
		
		</div>
		
	<script src="/script.js"></script>
	</body>
</html>
